body{
    background-color: #353540;
    font-family: tahoma;
    text-align: justify;            
}
     
#about{
    background-color: #353540;
    padding-top: 98px;
    padding-bottom: 101px;
}

#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid whitesmoke;
    border-bottom: 259px solid transparent;
    
    
}

#about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;
    
}

.fa-play{
    font-size: 100px;
    
}


#about .p-first{
    margin-bottom: 30px;
}


#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
    
}


#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;            
    
}

#about .about-link{
    padding-left: 0px;
    
    
}

#about .about-link li{
    display: inline-block;
}

#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid whitesmoke;
    margin-right: 10px;
    font-size: 28px;
    color: whitesmoke;
    transition: all .3s;
    
}


#about .about-link li a i:hover{
    color: #222222;
    background: whitesmoke;
    border-color: whitesmoke;
}


#about .about-img{
    position: relative;
    
}

#about .about-img{
    position: relative;
    
}

#about .about-img .man{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;
    
}

.color-3{
    color: whitesmoke;
}


.text-white{
    color: white;
}


p{
    margin-bottom: 0;
    font-size: 22px;
    line-height: 24px;
    color: whitesmoke;
}

.btn-danger{
    border-radius: 0;
    padding: 10px 20px;
}

#links1 {
    display: none;
}
#links2 {
    display: none;
}
#links3 {
    display: none;
}
#links4 {
    display: none;
}

#mail {
    color: whitesmoke;
}

em {
    color: whitesmoke;
}