body {
    background-color : rgb(118, 127, 161);
    color : white;
    font-family: 'Mali', cursive;
}

.banner img {
    position: relative;
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
}


h1 {
    color : rgb(48, 54, 78);
    text-align : center;
    font-size: 50px;
    display: block;
    font-family: 'Special Elite', cursive;

}

h3 {
    color : deepskyblue;
    text-align : center;
}

a {
    color : lightSteelBlue;
}

highlight#mail {
    background-color : lightSteelBlue;
}

.cerceve {
    border-style: double;
    border-width: 10px;
    border-color : rgb(118, 127, 161);
}

hr {
    border-color : rgb(118, 127, 161);
}

.konteyner {

    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: rgb(118, 127, 161);
}

div.kolon {
    background-color: rgb(118, 127, 161);
    width: 50%;
    margin: 20px 0 0;
}

.kolon #right {
    position: fixed;
    display: block;
}

.kolon #left {
    position: fixed;
    display: block;
}

.kutu {
    display: block;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    border: 10px solid rgb(48, 54, 78);
    background-color: rgb(48, 54, 78);
    margin: 20px;
    transition : all  0.25s;
}

.kutu:hover{
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    border: 10px solid rgb(75, 82, 110);
    background-color: rgb(75, 82, 110);
    margin: 20px;
    
}

#idea{
    display: none;
    text-align: center;  
}

#about{
    display: none; 
}

button {
    position: relative;
    background-color: rgb(48, 54, 78);
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    margin: auto;
    left: 0;
    right: 0;
    transition : all  0.25s;
    font-family: 'Mali', cursive;
    font-family: 'Quantico', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Space Mono', monospace;
}

.button:hover{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(75, 82, 110);
}