body {
    background-color : black;
    color : white;
}

.banner img {
    display: block;
    margin: 0 auto;
}

p.kutu {
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    margin: auto;
}

p {
    text-align: center;
}


h1 {
    color : white;
    text-align : center;
    font-family : Cochin;
}

h3 {
    color : deepskyblue;
    text-align : center;
}

a {
    color : lightSteelBlue;
}

highlight#mail {
    background-color : lightSteelBlue;
}

.cerceve {
    border-style: double;
    border-width: 10px;
    border-color : gray;
}

hr {
    border-color : gray;
}
.konteyner {

    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: black;
}

div.kolon {
    background-color: gray;
    width: 32%;
    margin: 20px 0 0;
}

